<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>


<%= link_to "Home", home_path , id: "home_link", remote: true %>

<div id="alert_msg">

</div>
