
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @listing.photos.each_with_index do |data, i| %>
      <li data-target="#carousel-example-generic" data-slide-to="#{i}" class="#{'active' if i == 0}"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @listing.photos.each_with_index do |photo, i| %>
        <% if i == 0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>

        <%= image_tag photo.medium.url %>

        <div class="carousel-caption">
          <%= photo.identifier %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
