<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>


<div class="row">
  <div class="col-md-4">yo</div>
  <div class="col-md-4">hey</div>
  <div class="col-md-4">sup</div>


</div>
